* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: url(https://images.pexels.com/photos/7176305/pexels-photo-7176305.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100% ;
    font-family: "PT Sans";
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }
  

  
  
  .wrapper {
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-top: 90px;
   
  }
  
  .left,
  .right {
    width: 50%;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .back-header,
  .back-p {
    margin: 20px;
    color: #fafafa;
    letter-spacing: 1px;
  }
  
  .back-header {
    font-family: "Ubuntu";
    font-size: 30px;
    font-weight: 500;
  }
  
  .back-p {
    font-family: "PT Sans";
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 60px;
  }
  
  
  .background button {
    margin-top: 20px;
    max-width: 100px;
    padding: 5px;
    color: #4BB0A9;
    border: none;
  }
  
  .background .left button {
    left: 20px;
  }
  
  .background .right button {
    left: 420px;
  }
  
  .form-container {
    position: absolute;
    width: 400px;
    height: 535px;
    background-color:white ;
    top: -20px;
    left: 25px;
    box-shadow: 9px 13px 16px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    
    
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .content {
    margin: 40px;
    
  }
  
  .back-btn {
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 3px;
    background: transparent;
    border: 1px solid white;
    color: #fafafa;
    transition: 0.3s all;
  }
  
  .back-btn:hover {
    background-color: #D9BE94;
    border: 1px solid #D9BE94;
  }up
  
  .form-btn {
    display: block;
    margin-top: 30px;
    width: 150px;
    height: 35px;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    background-color: #91D0CC;
    color: #fafafa;
    transition: 0.4s all;
  }
  
  .sign-up button:hover,
  .login button:hover {
    background-color: #4BB0A9;
  }
  
  .form-header {
    font-size: 32px;
    color: #91D0CC;
  }
  
  .form-container input {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #888;
  }
  .sex_choice label{
    margin-top: 20px;
    padding: 4px;
  }
  
  input[type=text],
  input[type=email] {
    color: #555;
  }
  
  .form-container i {
    margin-left: 10px;
    margin-bottom: -5px;
    color: #888;
  }
  
  .login button,
  .forgot {
    display: inline-block;
  }
  
  .forgot {
    margin-left: 15px;
    text-decoration: none;
    color: black;
  }
  
  .forgot:hover {
    color: #D9BE94;
    text-decoration: underline;
  }

  .sex_choice{
    display: flex;
    align-items: center;
  }
  .choice {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}
.form-container input[type="date"] {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #888;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    color: #555;
}
  

.sex_choice .choice label,.radio{
    color: #555;
    font-size: 16px; /* Adjust the font size */
    cursor: pointer;
  }
  
.fullname{
  display: flex; 
}
.fullname input{
  max-width: 110px;
}
.ln{
  margin-left:20px;
}
.error-message{
  color: rgb(148, 5, 5);
}
.kemel{
  display: flex;
}
.doctor-registration{
  margin-left: 80px;
  width: 265px;
}
.common{
  width: 295px;
}
